@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
html, body, h1, h2, h3, h4, h5, h6, p, nav, {margin: 0; padding: 0;}
body {margin: 0;
padding: 0; }
ol, ul {list-style: none; }
table {border-collapse: collapse; border-spacing: 0; }

*{font-family: 'Open Sans', sans-serif;}
form{margin: 0;
padding: 0;}
img{width: 400px;
margin-left: auto;
margin-right: auto;
display: block;}
h1,h2{
	font-weight: 300;
	font-size: 50px;
	margin:0;
	text-align: center;
}
h2{
	font-size: 30px;
}
#logo{
	width: 150px;
	margin: 0 auto;
	display: block;
}
body{
	width: 100%;
	float: left;
	background: url(img/bg3-blur.jpg) center fixed no-repeat;
	-webkit-background-size: cover;
}
.output{
	text-align: right;
}
nav{
	font-family: 'Open Sans', sans-serif;
	color: #000;
	font-size: 20px;
	width: 30%;
	background-color: rgba(255,255,255,0.7);
	z-index: 1;
	float: left;
	box-shadow: 1px 1px 12px #999;
	height: 100vh;
	z-index: 1;
	font-weight: 500;
}
li{
	font-variant: small-caps;
	margin: 0 20px 20px 20px;
}
input[type="number"]{
	width: 75px;
	height: 30px;
	font-size: 30px;
	border: none;
	border-bottom: 1px solid #000;
	background-color: rgba(0,0,0,0);

}
input[type="range"]{
	width: 100%;
  -webkit-appearance: none;
  background: #0A0539;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 18px;
  width: 18px;
  border-radius: 18px;
  background: #fff;
  cursor: pointer;
}

input[type="submit"]{
	border: 1px solid #000;
	background-color: #fff;
	font-size: 20px;
	transition: 0.2s
}
input[type="submit"]:hover{
	border: 1px solid #333;
	background-color: #000;
	margin-left: 5px;
	font-size: 20px;
	color: #fff;
}
.cercle{
	width: 10px;
	height: 10px;
	margin: 2px;
	border-radius: 10px;
	background-color: #333;
	display: inline-block;
	border: 1px solid #333;
}
.cercleblanc{
	width: 10px;
	height: 10px;
	margin: 2px;
	border-radius: 10px;
	background-color: #fff;
	display: inline-block;
	border: 1px solid #333;
}
#content{
	width: 60%;
	float: left;
	margin: 100px 5% 0 5%;
	background-color: rgba(255,255,255,0.3);
	border-radius:5px;
	height: 60%;
}
#note{text-align: center;}