#logo{
	width: 200px;
	padding: 20px;
}
#conteneur.stickycontent{
	margin-top: 95px;
	transition: 0.3s;
}
header{
	background-color: #fff;
	box-shadow: 0 4px 15px 0 rgba(0,0,0, 0.25);
	z-index: 3;
}
.fas,.fal,.fa{
	color: #000;
	width: 20px;
}
.stickyheader {
  position: fixed;
  top: 0;
  width: 100%;
}
#sous_menu{
	display: block;
	width: 100%;
	box-shadow: 0 4px 15px 0 rgba(0,0,0, 0.25);
	padding: 20px;
	margin-bottom: 30px;
	overflow:auto;
	background-color: #fff;
	z-index: 1;
}
.telephone{
	width: 23%;
	float: left;
	margin: 1%;
	padding: 1%;
	transition: 0.3s;
	border-radius: 20px;
	border: 1px solid #ddd;
	background-color: #fff;
	text-align: center;
}
.telephone img{
	width: auto;
	max-height: 300px;
	display: block;
	margin: auto;

}
.telephone table{
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	margin: 0px 15px 20px 0px;
	font-size: 30px;
	text-align: initial;
	margin-left: auto;
	margin-right: auto;
}
.telephone table{
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 15px;

}
.telephone h2{
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	margin: 0px 15px 20px 0px;
	font-size: 30px;
	text-align: center;
}
label{
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 25px;
}
.telephone td{
	padding: 5px;
	padding-top:10px;
}
.telephone:hover, .caracteristiques{
	box-shadow: 0 0px 15px 0 rgba(0,0,0, 0.35);
	transform: scale(1.05);
	cursor: pointer;
}

#conteneur{
	width: 90%;
	margin: auto;
	overflow: none;
	display: flex;
    flex-wrap: wrap;
}
.close{
	position:absolute;
	top:10px;
	right:10px;
	background-color: #764ba2;
	border-radius: 15px;
	height: 25px;
	width: 25px;
	border:0;
	color: #fff;
	line-height:0px;
	font-weight: 800;
}


.prix, .note{
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	border: 2px solid #25aae1;
	border-radius: 20px;
	padding: 10px;
	box-shadow: 0 0px 15px 0 rgba(0,0,0, 0.35);
	display: inline-block;
	float: left;
}
#recherche img{
	border-radius: 50px;

}
#recherche{
	float: left;
	position: fixed;
	bottom: 20px;
	right: 20px;
	width: 120px;
	z-index: 1;
	transition: 0.3s;
}
#recherche:hover{
	transform: scale(1.1);
}
#budget{
	width: 100%;
}
#budget input{
	background-color: #eee;
	border:0;
	color: #888;
	text-align: right;
}

.photoPhone{
	max-width: 100%;
}

.footerPhone{
	display: inline-block;
	margin-top: 20px;
}

i{
	padding-left: 0;
	padding-right: 20px;
}
input[type="number"], select{
	background-color: unset;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 20px;
	max-width: 100px;
	background-color: rgba(0,0,0,0.1);
}

@media screen and (max-width: 1200px){
	.telephone{
		width: 48%;
		padding-bottom: 30px;
	}
}
@media screen and (max-width: 650px){

	.telephone{
		width: 98%;
		padding-bottom: 30px;
	}
}
