li{
	display: block;
}
ul{
	margin: 30px;
}

.icon-table{
	height: 13px;
	width: 13px;
	margin: 0;	
}

a.icon-table{
	margin: 0 10px;
}

#tableau-telephones{
	width: 70%;
	display: block;
	margin-left: 100px;
}

#options-tab{
	display: block;
	width: 80%;
	margin: auto;
}

#form_taille{
	width: 100%;
}

#numeroPage{
	width: 10%;
}

.sub-table{
	display: inline;
	width: auto;
}