#logo{
	width: 200px;
	padding: 20px;
}
header{
	background-color: #fff;
	box-shadow: 0 4px 15px 0 rgba(0,0,0, 0.25);
}
#sous_menu{
	display: block;
	width: 100%;
	box-shadow: 0 4px 15px 0 rgba(0,0,0, 0.25);
	padding: 20px;
	margin-bottom: 30px;
	overflow:auto;
}
.telephone{
	width: 23%;
	float: left;
	margin: 1%;
	padding: 1%;
	transition: 0.3s;
	border-radius: 20px;
	background-color: #fff;
}
.telephone img{
	width: 100%;
}
.telephone h2{
	font-family: 'Montserrat', sans-serif;
	font-weight: 800;
	margin: 0 0 30px 0;
	font-size: 30px;

}
.telephone:hover{
		box-shadow: 0 0px 15px 0 rgba(0,0,0, 0.35);
		transform: scale(1.05);
}
#conteneur{
	width: 90%;
	margin: auto;
	overflow: auto;
	  display: flex;
  flex-wrap: wrap;
}

.prix, .note{
	font-family: 'Montserrat', sans-serif;
	font-weight: 800;
	margin: 10px 10px 10px 0;
	border: 2px solid #25aae1;
	display: inline-block;
	border-radius: 20px;
	padding: 10px;
	font-size: 30px;
	box-shadow: 0 0px 15px 0 rgba(0,0,0, 0.35);
		
}
.bouton_sous_menu{
	display: inline-block;
	float: right;
	border-radius: 40px;
	background-image: linear-gradient(to right, #25aae1, #40e495);
	box-shadow: 0 0px 15px 0 rgba(0,0,0, 0.35);
	font-weight: 600;
	font-size:  20px;
	margin-right: 20px;

}
.bouton_sous_menu select,.bouton_sous_menu input {
	margin: 20px 20px 20px 10px;
	padding: 10px;
	border: 0;
}
.bouton_sous_menu input{
	margin: 20px 0 20px 10px;
	text-align: right;
}
#recherche{
	float: left;
	padding: 30px;
	border: 0;
	background-image: linear-gradient(to right,#667eea, #764ba2);
	box-shadow: 0 0px 15px 0 rgba(0,0,0, 0.35);
	color: #fff;
}
.bouton_sous_menu p,i{display: inline;
font-family: 'Montserrat', sans-serif;
padding-left: 10px;
color: #fff;
}
i{
	padding-left: 0;
	padding-right: 20px;
}
input[type="number"], select{
	background-color: unset;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 20px;
	max-width: 100px;
	background-color: rgba(0,0,0,0.1);
}
@media screen and (max-width: 1200px){
	.telephone{
		width: 48%;
		padding-bottom: 30px;
	}
	#recherche{
		width: 90%;
		margin: 5%;
		position: fixed;
		bottom: 20px;
		z-index: 1;
	}
	.bouton_sous_menu{
		width: 42.5%;
		margin: 2.5%;
		padding:0;
	}
}
@media screen and (max-width: 600px){
	.telephone{
		width: 98%;
		padding-bottom: 30px;
	}
	#recherche{
		width: 90%;
		margin: 0%;
		position: fixed;
		bottom: 20px;
		z-index: 1;
	}
	.bouton_sous_menu{
		width: 90%;
		margin: 5%;
		padding:0;
	}
}
