html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; } article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block; } body {line-height: 1; } ol, ul {list-style: none; } blockquote, q {quotes: none; } blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none; } table {border-collapse: collapse; border-spacing: 0; } input:focus{outline: none;}

body{
	display: block;
	float: left;
	height: 100vh;
	background-color: pink;
	background: url(../images/bg.jpg) center fixed no-repeat;
	-webkit-background-size: cover;
	font-family: arial;
}
img#logo{
	width: 200px;
	margin:20px 50px;
}
#colonne_gauche{
	background-color: rgba(255,255,255,0.5);
	color: #222;
	width: 300px;
	height: 100%;
}

#colonne_gauche input{
	width: 260px;
	margin:20px 20px;
}
#colonne_gauche label{
	margin:10px 20px;
	font-size: 20px;
}
#colonne_gauche input[type="range"]{
  -webkit-appearance: none;
  background: rgba(255,255,255,1);
  height: 20px;
   border-radius: 0px;
}

#colonne_gauche input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 0px;
  background: #6363b0;

}
#colonne_gauche input[type="number"]{
	-webkit-appearance: none;
	height: 40px;
	font-size: 30px;
	border: none;
	background-color: rgba(255,255,255,0.5);
	 border-radius: 5px;
	 text-align: center;

}
#colonne_gauche input[type="submit"]{
	margin: 20px 60px;
	-webkit-appearance: none;
	width: 180px;
	height: 40px;
	font-size: 20px;
	border: none;
	background-color: rgba(255,255,255,0.5);
	border-radius: 20px;
	border:1px solid #000;
}
#colonne_gauche input[type="submit"]:hover{
	background-color: rgba(255,255,255,1);
}
@media screen and (max-width: 500px){
	img#logo{
		margin:  auto;
		display: block;
	}
	#colonne_gauche{
		width: 100vw;
	}
	#colonne_gauche input{
	width: 90%;
	margin:20px 5%;
	}
	#colonne_gauche input[type="submit"]{
	text-align: center;
	margin: 40px auto;
	display: block;
	}
	#colonne_gauche label{
	margin:10px 5%;
	}

}