@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,100,300italic);

*{
	margin:0;
	padding: 0;
	font-family: 'Josefin Sans', sans-serif;
	transition-duration: 0.15s;
}
img{width: 500px;
margin-left: auto;
margin-right: auto;
display: block;}
p,h2{
text-align: center;
font-size: 1em;
color:#fff;
} 
h2{font-size: 3em;}
h3{font-size: 3em;
font-weight: 100;
background-image:linear-gradient(to bottom, rgba(255,255,255,0.5), rgba(255,255,255,0.6));
text-align: center;
padding-bottom: 15px;}
b{
	font-size: 1.5em;
}
html{
	background: url(img/wallpaper.png) no-repeat center fixed;
  -webkit-background-size: cover;
}
#head{
	background-color: rgba(255,255,255,0);
	height: 91vh;
}
a{
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 2em;
	text-decoration: none;
	color: rgba(255,255,255,0.5);
}
a:hover{
	border-radius: 0px;
	color: rgba(255,255,255,0.8);
	transition-duration: 0.3s;
}
iframe{
	margin: 50px auto 0 auto;
	display: block;
	border: 3px solid rgba(255,255,255,0.3);
}

#categories{
  overflow:hidden;
  width:90%;
  margin:0 auto;
}
.clr:after{
  content:"";
  display:block;
  clear:both;
}
#categories li{
  position:relative;
  list-style-type:none;
  width:27.85714285714286%; /* = (100-2.5) / 3.5 */
  padding-bottom: 32.16760145166612%; /* =  width /0.866 */
  float:left;
  overflow:hidden;
  visibility:hidden;
 
  -webkit-transform: rotate(-60deg) skewY(30deg);
  -ms-transform: rotate(-60deg) skewY(30deg);
  transform: rotate(-60deg) skewY(30deg);
}
#categories li:nth-child(3n+2){
  margin:0 1%;
}
#categories li:nth-child(6n+4){
  margin-left:0.5%;
}
#categories li:nth-child(6n+4), #categories li:nth-child(6n+5), #categories li:nth-child(6n+6) {
	margin-top: -6.9285714285%;
  margin-bottom: -6.9285714285%;
  
  -webkit-transform: translateX(50%) rotate(-60deg) skewY(30deg);
  -ms-transform: translateX(50%) rotate(-60deg) skewY(30deg);
  transform: translateX(50%) rotate(-60deg) skewY(30deg);
}
#categories li:nth-child(6n+4):last-child, #categories li:nth-child(6n+5):last-child, #categories li:nth-child(6n+6):last-child{
  margin-bottom:0%;
}
#categories li *{
  position:absolute;
  visibility:visible;
}
#categories li > div{
  width:100%;
  height:100%;
  text-align:center;
  color:#fff;
  overflow:hidden;
  
  -webkit-transform: skewY(-30deg) rotate(60deg);
  -ms-transform: skewY(-30deg) rotate(60deg);
  transform: skewY(-30deg) rotate(60deg);
  
	-webkit-backface-visibility:hidden;
  
}

/* HEX CONTENT */
#categories li img{
  left:-80%; right:-80%;
  width: auto; height:100%;
  margin:0 auto;
  background-color: #fff;
}
#categories li:hover img{
	  	transform: rotate(7deg);
	-ms-transform: rotate(7deg);
	-webkit-transform: rotate(7deg);
	-o-transform: rotate(7deg);
	-moz-transform: rotate(7deg);
			filter: blur(5px);
	-ms-filter: blur(5px);
	-webkit-filter: blur(5px);
	-o-filter: blur(5px);
	transform: scale(1.1);
	-ms-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-o-transform: scale(1.1);}
#categories div h1, #categories div p{
  width:90%;
  padding:0 5%;
  background-color:#008080; background-color: rgba(0, 0, 0, 0.5);
  font-family: 'Josefin Sans', sans-serif;
  
  -webkit-transition: top .2s ease-out, bottom .2s ease-out, .2s padding .2s ease-out;
  -ms-transition: top .2s ease-out, bottom .2s ease-out, .2s padding .2s ease-out;
  transition: top .2s ease-out, bottom .2s ease-out, .2s padding .2s ease-out;
}
#categories li h1{
  bottom:110%;
  font-style:italic;
  font-weight:normal;
  font-size:1.5em;
  padding-top:100%;
  padding-bottom:100%;
}
#categories li h1:after{
	content:'';
  display:block;
  position:absolute;
  bottom:-1px; left:45%;
  width:10%;
  text-align:center;
  z-index:1;
  border-bottom:2px solid #fff;
}
#categories li p{
	padding-top:50%;
	top:110%;
	padding-bottom:50%;
}


/* HOVER EFFECT  */

#categories li div:hover h1 {
  bottom:50%;
  padding-bottom:10%;
}

#categories li div:hover p{
  top:50%;
  padding-top:10%;
}
#fond{
background-image:linear-gradient(to bottom, rgba(255,255,255,0.6), rgba(255,255,255,0.6));
}
#triangle{
	width: 100%;
	height: 100px;
	background-image:linear-gradient(to bottom, rgba(255,255,255,0.2), rgba(255,255,255,0.5));
	-webkit-clip-path: polygon(100% 0%, 0% 100%, 100% 100%);
clip-path: polygon(100% 0%, 0% 100%, 100% 100%);
}